body {

  background-color: white;
  background-size:cover;
  font-family: system-ui;
  background-image: url('office_img.jpg');
 }
 
.center{

margin-top: 280px;
margin-left: 500px;

width: 40%;
border: 0px solid green;
padding: 10px;
}


.main_content{
  width: 400px;
}

.left{
  float: left;
  width: 48%;
  border-right: 1px solid grey;
}

.right{
  float: right;
  width: 48%;
 
  
}
 
img {
 
   border-radius: 4px;
   padding: 5px;
   width: 120px;
}
 
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 20px;
}
th, td:hover {
  background-color: #8fbbbc;
    border-radius: 2px;
}


a:before{
  color: white;
}
 
.text-center2{
   text-align: center;
   color: red;
   font-weight: bold;
}
 